:root {
  --color-black: #000;
  --color-white: #fbfbf8;
  --color-green: #09fbd3;
  --color-blue: #08f7fe;
  --color-orange: #ff5400;
  --color-yellow: #f5d300;
  --color-purple: #cb6ce6;
  --color-pink: #fe53bb;
}